<style type="text/css"> 
.dropdown-toggle::after {
    display:none;
}  
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="<%=root_path %>">
      <%= image_tag 'logo.png', id: 'logo-img' %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <!--  <ul class="navbar-nav mr-auto">
      </ul> -->
     
      <!-- SEARCH BOX -->
      <div class="mr-auto">
        <%= form_tag reviews_path, id: 'search-form', class: 'form-inline my-2 my-lg-0', method: :get do %>
          <%= text_field_tag :search, params[:search], placeholder: t('.search'), class: 'form-control mr-sm-2' %>
          <%= button_tag nil, class:'btn btn-outline-white my-2 my-sm-0' do %>
            <i class="fa fa-search" aria-hidden="true"></i>
          <% end %>
        <% end %>  
      </div>


      <!-- ADD REVIEW ICON -->
      <% if user_signed_in? %>
        <%= link_to new_review_path, class: 'btn btn-outline-white' do %>
          <i class="fa fa-plus"></i> <%=t(".post_review")%>
      <% end %>
      <% end %>
  
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          
          <li class="nav-item dropdown">
           <!--  USER AVATAR AND NAME -->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span><%= image_tag avatar_url(current_user), id: 'nav-user-icon', class: 'rounded-circle' %></span>
              <%= current_user.name %>
            </a>
           <!--  DROP MENU RIGHT THE NAME -->
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'My Page', user_pages_path, class: 'dropdown-item' %>
              <%= link_to "Sign out", destroy_user_session_path, class: 'dropdown-item', method: :delete %>
              
            </div>
          </li>
          

        <% else %>
          
          <li class="nav-item" style="padding-top: 10px">
            <%=link_to t(".signin"),new_user_session_path, class: 'nav-link' %>
          </li>
          
          <li class="nav-item" style="padding-top: 10px">
            <%=link_to t(".signup"),new_user_registration_path, class: 'nav-link' %>
          </li>

        <% end %>
        <!-- ADD CHANGE LANGUAGE -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-globe" style="font-size:2rem;padding-top:5px "  title="change language"></span></a>
              <div class="dropdown-menu" aria-labelledby="dropdown09">
                <%= link_to url_for( :locale => 'en' ),:class=> 'dropdown-item' do %>
                <span class='flag-icon flag-icon-us'></span>   <%=t('.english')%>
                <%end%>

                <%= link_to url_for( :locale => 'vi' ),class: 'dropdown-item' do%>
                <span class='flag-icon flag-icon-vn'></span>  <%=t('.vietnamese')%>
                <%end%>

              </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
